<%- include('../includes/header.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 
    <div class="container">
        <div class="card mt-5" style="width: 100%;">
            <h1 class="card-title m-1 title-color">Reset Password</h1>
            <div class="card-body">
                <form action="/reset" method="POST">
                    <div class="form-group">
                        <label for="inputAddress">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="email" >
                        </div>
                    <button type="submit" class="btn btn-lg btn-outline-secondary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
<%- include('../includes/footer.ejs') %> 