<nav class="navbar navbar-expand-lg" style="background-color: #b5b5b5;">
	<span class="navbar-brand text-light pl-2 pr-2 h-100"
		><a class="navbar-brand text-light" href="/"><i class="fas fa-coffee"></i> CoffeeShop</a></span
	>
	<div class="collapse navbar-collapse" id="navbarNav">
        
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link text-light pl-2 pr-2 h-100" href="/"
					><i class="fas fa-store"></i> Shops <span class="sr-only">(current)</span></a
				>
			</li>
			<% if(isAuthenticated) { %>
			<li class="nav-item">
				<a class="nav-link text-light pl-2 pr-2 h-100" href="/admin/add-shop"
					><i class="fas fa-plus"></i> Add Shop</a
				>
			</li>
			<% } %> <% if(!isAuthenticated) { %>
			<li class="nav-item">
				<a href="/signup" class="nav-link text-light pl-2 pr-2 h-100"
					><i class="fas fa-user-plus"></i> Sign Up</a
				>
			</li>
			<li class="nav-item">
				<a href="/login" class="nav-link text-light pl-2 pr-2 h-100"
					><i class="fas fa-sign-in-alt"></i> Login</a
				>
			</li>
			<% } else { %>
			<li class="nav-item">
				<span class="nav-link text-light pl-2 pr-2 h-100"><b>Signed in as</b> <%=email ? email : ''%></span>
			</li>
			<li class="nav-item">
				<form class="form-delete" action="/logout" method="POST">
					<button style="background-color: #b5b5b5;" class="btn text-light" type="submit">
						<i class="fas fa-sign-out-alt"></i> Logout
					</button>
				</form>
			</li>
			<% } %>
		</ul>
    </div>
   
</nav>