<nav class="navbar navbar-expand-lg" style="background-color: #b5b5b5;">
    <span class="navbar-brand text-light pl-2 pr-2 h-100  " href="#">CoffeeShop</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link text-light pl-2 pr-2 h-100 " href="/">Shops <span class="sr-only">(current)</span></a>
        </li>
        <% if(isAuthenticated) { %> 
        <li class="nav-item">
            <a class="nav-link text-light pl-2 pr-2 h-100 " href="/admin/add-shop">Add Shop</a>
        </li>
        <% } %> 
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <% if(!isAuthenticated) { %> 
        <li class="nav-item"><a href="/signup" class="nav-link text-light pl-2 pr-2 h-100 ">Sign Up</a></li>
        <li class="nav-item"><a href="/login" class="nav-link text-light pl-2 pr-2 h-100 "> Login</a></li>
        <% } else { %> 
        <li class="nav-item"><span class="nav-link text-light pl-2 pr-2 h-100 "><%=email ? email : ''%></span></li>
        <li class="nav-item">
            <form class="form-delete"  action="/logout" method="POST">
                <button style="background-color: #b5b5b5" class="btn text-light" type="submit">Logout</button>
            </form> 
        </li>
        <% } %> 
    </ul>
</nav>