<%- include('../includes/header.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 
    <div class="container">
        <div class="card mt-5" style="width: 100%;">
            <h1 class="card-title m-1">Add Comment to </h1>
            <div class="card-body">
                <form action="/shops/comments/add-comment" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comment Text</label>
                        <textarea class="form-control" name="comment" rows="5"></textarea>
                        <input type="hidden" name="shopId" value="<%= shopId %>">
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-secondary">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
<%- include('../includes/footer.ejs') %> 